<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CO-19 </title>
    <link rel="icon" type="image/x-icon/png" href="static\covid-logo.png">
    <link rel="stylesheet" href="static/style3.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <a href="{{url_for('home')}}" class="logo"> Co-19 Early Detection </a>
        <nav class="navbar">
            <a href="{{url_for('home')}}"> Home </a>
            <a href="{{url_for('predict_page')}}"> Predict </a>
            <a href="{{url_for('about_us')}}"> About Us </a>
        </nav>
        <div class="social-media">
            <a href="https://github.com/karthiknair-19"><i class='bx bxl-github'></i></a>
            <a href="https://www.linkedin.com/in/karthikbrijeshnair"><i class='bx bxl-linkedin'></i></a>
        </div>
    </header>

    <div class="profiles">
        <div class="profile-card">
            <div class="image">
                <img src="static/manoj.jpg" alt="profile Photo" class="profile-img">
            </div>
            <div class="text-data">
                <span class="name"> MANOJ KUMAR S</span>
                <span class="job"> Web developer </span>
                <span class="location"> <i class='bx bx-map'></i> Bengaluru, KA </span>
                <span class="description">I am a passionate web developer and photographer, driven by the artistry
                    of
                    both digital realms. With a keen eye for detail and a flair for creativity, I thrive on crafting
                    visually stunning websites that not only function seamlessly but also captivate the viewer's
                    attention. My love for photography complements my web development skills, allowing me to capture
                    moments in time and translate them into captivating visual stories.</span>
            </div>
            <div class="social-mediaa">
                <a href="https://www.linkedin.com/in/manoj-kumar-s-57188922a/" style="background: #4267b2;"
                    class="link">
                    <i class='bx bxl-linkedin'></i>
                </a>
                <a href="https://github.com/Captureboy" style="background: #808080;" class="link">
                    <i class='bx bxl-github'></i>
                </a>
                <a href="https://www.instagram.com/capture_boy_/?utm_source=qr&igshid=MzNlNGNkZWQ4Mg%3D%3D"
                    style="background: #e13062;" class="link">
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="https://x.com/captureboy1?t=kns0Ce7nYereZwI__yJW7A&s=09" style="background: #16a1f2 ;"
                    class="link">
                    <i class='bx bxl-twitter'></i>
                </a>
            </div>
            <div class="buttons">
                <button class="button"> Message </button>
                <button class="button"> Contact</button>
            </div>
        </div>
        <div class="profile-card">
            <div class="image">
                <img src="static\karthik.png" alt="profile Photo" class="profile-img">
            </div>
            <div class="text-data">
                <span class="name"> KARTHIK NAIR</span>
                <span class="job"> Data Analyst </span>
                <span class="location"> <i class='bx bx-map'></i> Bengaluru, KA </span>
                <span class="description">I'm a passionate data analyst, I thrive on tackling projects that ignite my
                    enthusiasm for data-driven solutions. I eagerly seek out opportunities to work on projects that
                    align with my interests and expertise. I believe that
                    through my work, I can contribute to meaningful advancements in various fields, from technology and
                    finance to healthcare and beyond, by harnessing the power of data to make a positive impact on the
                    world.
                </span>
            </div>
            <div class="social-mediaa">
                <a href="https://www.linkedin.com/in/karthikbrijeshnair" style="background: #4267b2;" class="link">
                    <i class='bx bxl-linkedin'></i>
                </a>
                <a href="https://github.com/karthiknair-19" style="background: #808080;" class="link">
                    <i class='bx bxl-github'></i>
                </a>
                <a href="#" style="background: #e13062;" class="link">
                    <i class='bx bxl-instagram'></i>
                </a>
                <a href="#" style="background: #16a1f2 ;" class="link">
                    <i class='bx bxl-twitter'></i>
                </a>
            </div>
            <div class="buttons">
                <button class="button"> Message </button>
                <button class="button"> Contact</button>
            </div>
        </div>
    </div>
</body>

</html>