<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\style4.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<body>
    <div class="container">
        <div class="popup">
            <img src="static\tick.png" alt="pic" class="tick">
            <h2> <i class='bx bxs-virus-block'></i>  You're not affected </h2>
            <p>Thank you!</p>
            <a href="{{url_for('about_us')}}" type="button" class="button"> OK </a> 
        </div>  
    </div>
</body>

</html>